In [11]:
import pandas as pd

In [12]:
punt=pd.read_csv('distoair.csv')

In [13]:
#ESTO ES LO ULTIMO
#punt= punt.sort_values('dis to an airport',ascending=True)

In [14]:
#{distance:{$exists:true}}

In [15]:
punt

             name        long        lat  dis to an airport
0         PeekYou  -73.985506  40.757929           9.747112
1           GENWI -111.903500  33.817100          43.734956
2           Fixya -122.323895  37.566879           7.339122
3       Widgetbox -122.398599  37.798853          17.835823
4      RazorGator -118.445243  34.047312          12.149767
..            ...         ...        ...                ...
94       ticketea   -3.706176  40.445516          12.493996
95         Delphi  -83.161340  42.603532          46.262413
96  ChallengePost  -74.007170  40.740804          12.035367
97         Getyoo    4.346472  50.839970          11.848726
98     Tiny Speck -123.109217  49.282455          11.244331

[99 rows x 4 columns]

In [16]:
cutoffs = [0,10,20,50,100,300]
km_labels = ['0-10km', '10-20km', '20-50km','50-100km','100-300km']
punt['range'] = pd.cut(punt['dis to an airport'], cutoffs, labels = km_labels)
punt['range'].value_counts()

10-20km      43
0-10km       26
20-50km      24
50-100km      4
100-300km     2
Name: range, dtype: int64

In [17]:
punt

             name        long        lat  dis to an airport    range
0         PeekYou  -73.985506  40.757929           9.747112   0-10km
1           GENWI -111.903500  33.817100          43.734956  20-50km
2           Fixya -122.323895  37.566879           7.339122   0-10km
3       Widgetbox -122.398599  37.798853          17.835823  10-20km
4      RazorGator -118.445243  34.047312          12.149767  10-20km
..            ...         ...        ...                ...      ...
94       ticketea   -3.706176  40.445516          12.493996  10-20km
95         Delphi  -83.161340  42.603532          46.262413  20-50km
96  ChallengePost  -74.007170  40.740804          12.035367  10-20km
97         Getyoo    4.346472  50.839970          11.848726  10-20km
98     Tiny Speck -123.109217  49.282455          11.244331  10-20km

[99 rows x 5 columns]

In [18]:
export_csv = punt.to_csv ('punctuation.csv', index = None, header=True)